.p-header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  .nav {
    display: flex;
    align-items: center;
    margin: 0 20px;
    img {
      height: 20px;
      vertical-align: middle;
    }
    ul.links {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
      list-style-type: none;
      li a {
        text-decoration: none;
        color: #000;
        font-size: 12px;
        font-weight: 700;
      }
    }
    a {
      text-decoration: none;
      color: #000;
    }
    .nav-icon {
      padding: 0 10px;
      margin: 0 5px;
    }
    .shopping-cart {
      .nav-icon {
        margin-bottom: 5px;
        font-size: 22px;
      }
    }
    .divider {
      height: 14px;
      border-left: 1px solid grey;
    }
  }
}