.p-header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  .nav {
    display: flex;
    align-items: center;
    margin: 0 20px;
    img {
      height: 20px;
      vertical-align: middle;
    }
    ul.links {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 20px;
      list-style-type: none;
      li a {
        text-decoration: none;
        color: #000;
        font-size: 12px;
        font-weight: 700;
      }
    }
    a {
      text-decoration: none;
      color: #000;
    }
    .nav-icon {
      padding: 0 10px;
      margin: 0 5px;
    }
    .shopping-cart {
      .nav-icon {
        margin-bottom: 5px;
        font-size: 22px;
      }
      div {
        display: flex;
        align-items: center;
        margin-right: 5px;
        .nav-icon {
          padding-right: 0;
        }
        .cart-number {
          margin-left: 0;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    .divider {
      height: 14px;
      border-left: 1px solid grey;
    }
  }
}

.user-menu {
  width: 240px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  position: fixed;
  top: 65px;
  right: 60px;
  z-index: 1000;
  button {
    font-family: 'Playfair Display', sans-serif;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    border: none;
    margin: 10px 0;
  }
  .button-logout {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
  }
  .button-login {
    padding: 10px 0;
    background-color: #333;
    color: #fff;
  }
  .button-login:hover {
    background-color: #000;
  }
  .button-register {
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #000;
  }
}
.cart-container {
  width: 360px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  position: fixed;
  top: 65px;
  right: 30px;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  .user-cart {
    text-align: left;
    .cart-title {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
    }
    .cart-list {
      width: 100%;
      max-height: 60vh;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      .item-divider {
        width: 100%;
        margin-bottom: 8px;
        border-bottom: 1px solid #ccc;
      }
    }
    .cart-list::-webkit-scrollbar {
      display: none;
    }
    .cart-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 700;
    }
    button {
      width: 100%;
      padding: 10px 0;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
    }
    .checkout-btn {
      border: none;
      background-color: #333;
      color: #fff;
    }
    .checkout-btn:hover {
      background-color: #000;
    }
    .viewbag-btn {
      border: 1px solid #000;
      background-color: #fff;
    }
  }
}