.cart-item {
  width: 100%;
  display: flex;
  column-gap: 4px;
  margin: 10px 0;
  .item-image {
    width: 30%;
    img {
      width: 100%;
    }
  }
  .item-info-action {
    width: 70%;
    .info {
      margin-bottom: 30px;
      .title {
        font-size: 12px;
        font-weight: 700;
      }
      .price {
        font-size: 14px;
      }
    }
    .action {
      display: flex;
      column-gap: 5px;
      justify-content: flex-end;
      align-items: center;
      form {
        font-size: 12px;
        select {
          padding: 8px;
          margin: 0 8px;
        }
      }
    }
  }
}